<footer class="font-arial bg-white">
    <div class="block text-gray-300 text-center  border-t-2 border-gray-300 my-2">
        <p class="mt-2">Express Automarket - GitHub @ situmfrane</p>
    </div>
</footer>
</html>