<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Express Automarket</title>
</head>

<body class="font-arial bg-white">
    <nav
        class="flex items-center justify-between flex-wrap mb-2 bg-white py-4 lg:px-12 shadow border-solid border-t-2 border-blue-500">
        <div
            class="flex justify-between lg:w-auto w-full lg:border-b-0 pl-6 pr-2 border-solid border-b-2 border-gray-300 pb-5 lg:pb-0">
            <div class="flex items-center flex-shrink-0 text-gray-800 mr-16">
                <span class="font-semibold text-xl tracking-tight">Express Automarket</span>
            </div>
        </div>
        <form action="/api/logout" method="GET">
            <div class="menu w-full justify-end lg:block flex-grow lg:flex lg:items-end lg:w-auto lg:px-3 px-8">
                <div class="flex text-right">
                    <a href="/api/posts"
                        class="block text-md px-4 py-2 rounded text-blue-500 ml-2 font-bold hover:text-white mt-4 hover:bg-blue-500 lg:mt-0">Listings</a>
                    <a href="/api/makepost"
                        class="block text-md px-4 py-2 rounded text-blue-500 ml-2 font-bold hover:text-white mt-4 hover:bg-blue-500 lg:mt-0">Post a listing</a>
                    <% if(ls.get('accessToken') !== null) { %>
                    <a href="/api/account"
                        class="block text-md px-4 py-2 rounded text-blue-500 ml-2 font-bold hover:text-white mt-4 hover:bg-blue-500 lg:mt-0">My Account</a>
                    <button type="submit"
                        class=" block text-md px-4  ml-2 py-2 rounded text-blue-500 font-bold hover:text-white mt-4 hover:bg-blue-500 lg:mt-0">Log Out</button>
                    <% } %>
                    <% if(ls.get('accessToken') == null) { %>
                        <a href="/api/login"
                            class=" block text-md px-4  ml-2 py-2 rounded text-blue-500 font-bold hover:text-white mt-4 hover:bg-blue-500 lg:mt-0">Log In</a>
                        <a href="/api/register"
                            class=" block text-md px-4  ml-2 py-2 rounded text-blue-500 font-bold hover:text-white mt-4 hover:bg-blue-500 lg:mt-0">Register</a>

                            <% } %>
                    </div>
            </div>
        </form>


    </nav>